src/main/mule/worldtimezone-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="74be0e0e-7de6-4c35-8e7f-6fa0d3da0edc" basePath="worldtime">
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="c58bacb8-19bf-4c40-b1f7-82f0060ab4a3" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="worldtimezone-apiFlow" doc:id="c54b9e39-4b77-44ba-bc80-0213e4e6a5e3" >
		<http:listener doc:name="Listener" doc:id="3139ab26-fda6-45d7-88a7-56a4b2fdde28" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<logger level="INFO" doc:name="Logger" doc:id="6d33852e-45dd-44f6-9fc3-a311b68ed95a" message='"Before Calling Worldtimezone-api"'/>
		<http:request method="GET" doc:name="Request" doc:id="e9d90f04-8a58-4ad9-8302-b34410c30948" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="4d3fd9fb-5d1f-4921-b197-40cdcf7423cd" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="ededd5fc-cec0-441c-912b-11b7e3c622d5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
